[submodule "external/mini"]
	path = external/mini
	url = https://github.com/juicermv/mINI
[submodule "external/simdstring"]
	path = external/simdstring
	url = https://github.com/RobloxResearch/SIMDString
